[Unit]
Description=GlusterFS bricks storage setup
After=local-fs.target
Before=glusterd.service
Before=glusterfs.service

[Service]
Type=oneshot
ExecStartPre-=/usr/libexec/gluster-container/glusterfs-env-from-pid1
ExecStart=/usr/bin/gluster-storage-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
