[Unit]
Description=GlusterFS environment from PID 1
After=local-fs.target
Before=glusterfs-storage-setup.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/gluster-container/glusterfs-container-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
