[Unit]
Description=GlusterFS bricks storage setup
After=local-fs.target
Before=glusterd.service
Before=glusterfs.service

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/glusterfs-storage-setup
ExecStart=/usr/libexec/gluster-container/glusterfs-storage-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
