[Unit]
Description=mount GlusterFS bricks
After=local-fs.target
Before=glusterd.service

[Service]
Type=oneshot
ExecStart=/bin/mount-bricks.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
